.navbar{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #1A1A1A;
}

.tituloNavbar{
    font-family: 'Playfair Display';
    padding-left: 45px;
}

.btnNavbar{
    color: rgba(255, 255, 255, 0.96);
    font-family: 'Fjalla One', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    &:hover{
        background-color: #ffe9c400; /* Color más brillante al pasar el mouse */
        color: #fab731cc;
    }
}

.logoNavbar{
    width: 45px;
    height: 45px;
}

.btnCartWidget{
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
}

.divCartWidget{
    position: absolute;
    top: -6px;
    right: -6px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
}